<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>payfast</name>
    <displayName><![CDATA[Payfast Aggregation]]></displayName>
    <version><![CDATA[1.4.0]]></version>
    <description><![CDATA[Accept payments via Payfast Aggregation.]]></description>
    <author><![CDATA[Payfast Aggregation]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>